.review-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.review-item p {
  margin: 5px 0;
}

.review-item strong {
  font-size: 1.1em;
  color: #333;
}

/* Định nghĩa kiểu hiển thị ngôi sao */
.stars {
  display: flex;
  align-items: center;
}

.star {
  font-size: 20px;
  color: #ccc; /* Màu mặc định cho ngôi sao */
  margin-right: 2px;
}

.star.filled {
  color: #FFD700; /* Màu vàng cho ngôi sao đã chọn */
}

/* Kiểu dáng cho từng đánh giá */
.review-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.review-item p {
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination li.active {
  background-color: #24e457;
  color: white;
  border-color: #059416;
}

.pagination li:hover:not(.active) {
  background-color: #f0f0f0;
}

