.admin-header {
  background-color: white !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  border: #BBBBBB solid 1px !important;
}
  
  .admin-header-title {
    flex-grow: 1;
    color: #EDBCD1 !important; 
  }
  
  .admin-header-buttons button {
    color: black;
    font-family: work sans, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }  