.horizontal-line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
  }
  
  .custom-fontp {
    font-size: 14px;
    color: #888;
  }
  
  .form-container {
    width: 100%; /* Hoặc bất kỳ giá trị nào bạn muốn */
    max-width: 900px; /* Đặt chiều rộng tối đa */
}

.custom-textfield {
  background-color: #CCCCCC; /* Màu nền */
}