.admin-dashboard-content {
    padding: 20px;
    background-color: #ffffff ;
    min-height: 80vh; 
  }
  
  .admin-dashboard-content h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .admin-dashboard-content p {
    font-size: 1rem;
    color: #666;
  }  