/* EditNewsForm.css */
.edit-news-form {
  display: flex;
  height: 100vh;
  flex-direction: row;
  /* Đảm bảo sidebar và form nằm ngang */
}

.sidebar {
  width: 250px;
  background-color: #3a6039;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.sidebar li:hover {
  background-color: #34495e;
}

.sidebar li.active {
  background-color: #1abc9c;
}

.edit-news-form h2 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-top: 0;
}


@media (max-width: 768px) {
  .edit-news-form {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }
}

.quill-editor-container {
  margin-top: 10px;
}

.quill-editor-container .ql-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quill-editor-container .ql-editor {
  padding: 10px;
  /* Thêm padding cho editor */
  min-height: 200px;
  /* Đảm bảo editor có chiều cao tối thiểu */
}