.header {
    background-color: #000000 !important; 
}

.header-title {
    flex-grow: 1; 
    font-family: 'Times New Roman', serif !important; 
    font-weight: bold !important; 
    font-size: 2rem !important; 
    color: #FFFFFF; 
    text-align: left;
}

.header-buttons {
    display: flex; /* Hiển thị các nút ở dạng hàng ngang */
    gap: 10px; /* Khoảng cách giữa các nút */
    margin-left: auto; /* Đẩy các nút sang bên phải */
}