.container-home-admin {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif !important;
}

.container-body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
